.desc-title{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
    align-items: center;
}

hr{
    border: 2px solid #0C5BC6;
    width: 50px;
}

/* Heading Component */

.heading-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 7rem;
}

.heading-main h1{
    margin: 7rem 0 4rem 0;
}

.heading-main h2{
    margin-bottom: 1rem;
}

/* Property Component */

.property-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    margin-top: 4rem;
}

.property-text-container{
    width: 45%;
}

.property-text-container h2{
    margin-bottom: 1rem;
}

.property-text-container p{
    font-size: 14px;
}

.property-img{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1060px) {
    .property-main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 4rem;
    }

    .property-img{
        width: 100%;
    }

    .property-img img{
        width: 100%;
    }

    #full-img{
        width: auto;
    }

    .property-text-container{
        width: 100%;
        text-align: center;
    }

    .reverse{
        flex-direction: column-reverse;
    }
  }

@media only screen and (max-width: 542px) {
    .desc-main h1{
        font-size: 1.2rem;
    }

    .desc-main p{
        font-size: 10px;
    }

    .desc-main h2{
        font-size: 1rem;
    }

    .heading-main{
        margin-bottom: 4rem;
    }

    .property-main{
        padding: 1rem;
    }

  }